/* footer, footer paragraph, and footer border styles */
footer,
footer p {
  background-color: #022140;
  opacity: 0.8;
}

footer {
  border-top: solid;
  border-color: #494b68;
  border-width: 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  color: rgb(206, 206, 206);
}
