/* navbar background colors */
.nav-search {
  background-color: #494b68;
  opacity: 0.9;
}

.nav-saved {
  background-color: #844d36;
  opacity: 0.8;
}

/* navbar brand, submit button, and contact info font color */
.navbar-brand {
  color: white;
}

/* unvisited link */
a:link {
  color: rgb(115, 36, 206);
  /* font-size: 1.1rem; */
}

/* visited link */
a:visited {
  color: #123c69;
}

/* hover pseudoclass for when a user hovers the mouse pointer over the link */
a:hover {
  color: red;
  font-size: 1.3rem;
}

/* focus pseudoclass for when a user tabs over the links. When tabbed over, these links will change to the specified font-size and color*/
a:focus {
  font-size: 1.2rem;
  color: green;
}

/* active pseudoclass for a link that has been selected (mouse click pressed but not released) */
a:active {
  color: orange;
}

/* background images for each page */
.bg-search {
  background-image: url("./images/will_van_wingerden-library_background.jpg");
}

.bg-saved {
  background-image: url("./images/janko_ferlic-library_background.jpg");
}

.bg-search,
.bg-saved {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
